<div class="PLP">
    <br><br><br><br>
<form class="form-horizontal form-material" id="loginform"class="form1" [formGroup]="registrationform" novalidate>
        <fieldset style="margin-left: 15cm;margin-right: 17cm;">
        <legend>Login</legend>
        <table> 

          <div class="form-group">
                <div class="col-xs-12">
                    <h3>Patient UserName:</h3>
                    <input class="form-control" required="" type="text" placeholder="Name1" formControlName="name"pInputText >
                </div>
            </div>
            <div *ngIf="registrationform.controls['name'].errors && submitted" class="alert alert-danger">
                <div *ngIf="registrationform.controls['name'].errors.required">
                    Name should consist 3 Characters
                </div>
               
            </div><br>

          <div class="form-group ">
              <div class="col-xs-12">
                    <h3>Password::</h3>
              <input class="form-control" required="" type="password" placeholder="Enter Password" formControlName="password" pPassword>
              </div>
          </div>
          <div *ngIf="registrationform.controls['password'].errors && submitted" class="alert alert-danger">
              <div *ngIf="registrationform.controls['password'].errors.required">
                  Please Enter Valid Password
              </div>
               
          </div><br>
         
          
          <div class="form-group text-center p-b-20">
              <div align="center" class="col-xs-12">
      
                  <button pButton type="button"  label="Submit" class="ui-button-rounded" (click)="onSubmit()"></button>
              </div>
          </div>
          <div class="form-group m-b-0">
             
          </div>
        </table>
      </fieldset>  
      </form>
    </div>
<!-- </table></div> -->
