<!-- <app-header></app-header>
<app-footer></app-footer>
<app-body></app-body>
<app-sidebar></app-sidebar> -->
<!--
 <app-interpol></app-interpol> -->

<!-- <app-formbuild></app-formbuild>> -->


<!--<app-directive></app-directive>-->


<!--<app-communication [parentdata]='name' (childEvent)="parentEvent()"></app-communication>
<app-crud></app-crud> -->
<!-- <app-pipes></app-pipes> -->

<!-- <app-pipes></app-pipes>
<app-multiple></app-multiple> -->

<!-- <app-communication [parentdata]='name' (childEvent)="parentEvent()"></app-communication> -->

<!--<h1>Custom Pipe</h1>
<b>Square root of 25 is: {{ 25 | sqrt }}</b>
<br/>
<b>Square root of 729 is: {{ 729 | sqrt }}</b>-- <app-template></app-template>
< <router-outlet></router-outlet> -->
<!-- <div style="margin-left:100px;"> -->
 <app-header></app-header>
<app-sidebar></app-sidebar>

<app-footer></app-footer> 
<div style="margin-left: 200px;">
        <router-outlet></router-outlet> 

<!-- <app-template></app-template> -->

