<body>

  <div class="container">
    <form>



<table align="center" cellpadding = "10">

  <caption><h3>STUDENT REGISTRATION FORM</h3></caption>
<!----- First Name ---------------------------------------------------------->
<tr>
<td>FIRST NAME</td>
<td><input type="text" name="First_Name" maxlength="30"/>
<!-----(max 30 characters a-z and A-Z)---------------------------------------------------------->
</td>
</tr>

<!----- Last Name ---------------------------------------------------------->
<tr>
<td>LAST NAME</td>
<td><input type="text" name="Last_Name" maxlength="30"/>
<!-----(max 30 characters a-z and A-Z)---------------------------------------------------------->
</td>
</tr>

<!----- Email Id ---------------------------------------------------------->
<tr>
<td>EMAIL ID</td>
<td><input type="text" name="Email_Id" maxlength="100" /></td>
</tr>

<!----- Mobile Number ---------------------------------------------------------->
<tr>

<td>MOBILE NUMBER</td>
<td>

<input type="myFunction()" name="Mobile_Number" maxlength="10" pattern="^[0-9]"/>

</td>
</tr>
<!----- Gender ----------------------------------------------------------->
<tr>
<td>GENDER</td>
<td>
Male <input type="radio" name="Gender" value="Male" />
Female <input type="radio" name="Gender" value="Female" />
</td>
</tr>



<!----- Address ---------------------------------------------------------->
<tr>
<td>ADDRESS <br /><br /><br /></td>
<td><textarea name="Address" rows="4" cols="30"></textarea></td>
</tr>




<tr>
<td>QUALIFICATION</td>
<td>
<select>
<option value="A">SELECT</option>
<option value="B">S.S.C</option>
<option value="C">INTERMEDIATE/DIPLOMA</option>
<option value="D">GRADUATION</option>
<option value="E">P.G</option>
</select>
</td>
</tr>

<tr>
<td>TECHNICAL SKILLS <br /><br /><br /></td>

<td>
Java
<input type="checkbox" name="SKILLS_Java" value="Java" />
selenium
<input type="checkbox" name="SKILLS_selenium" value="selenium" />
machine learning
<input type="checkbox" name="SKILLS_machine learning" value="machine learning" />
ai
<input type="checkbox" name="SKILLS_ai" value="ai" />
<br />
Others
<input type="checkbox" name="SKILLS_Other" value="Other">
<input type="text" name="Other_Hobby" maxlength="30" />
</td>
</tr>

<!----- Submit and Reset ------------------------------------------------->
<tr>
<td colspan="2" align="center">
<input type="submit" value="Submit">
<input type="reset" value="Reset">
</td>
</tr>
</table>

</form>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
