body {
  font-family:  "Times New Roman", Times, serif;
}

.sidenav {
  margin-top: 4.2%;
  left: 0;
  height: 83.5%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;

  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;

}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
