<div class="sidenav">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a href="#template" routerLink="/template">Home</a>
  <a href="#form1" routerLink="/form1">Patient Registration</a>
  <a href="#dp" routerLink="/doctorspage">Doctor's Login</a>
  <a href="#sbd" routerLink="/doc">Suggestions By Doctor</a>

  <a href="#patientlogin" routerLink="/patientlogin">Patient Login</a>
  <a href="#patientproblem" routerLink="/patientproblem">Patient Problem</a>

  <a href="#adminlogin" routerLink="/adminlogin">Admin Login</a>
  <a href="#assigndoctor" routerLink="/assigndoctor">Assign Doctor</a>
