<div class="DLP">
<table align="center" cellpadding = "10">
    <div>
        <header>
            <h1>Doctor Login Page</h1>
       </header>
       <tr>
          <td><h3>User-Name : </h3></td>
          <td>
          <span class="ui-float-label">
             <input id="User-id" formControlName="CreateUserid" type="text" size="30" pInputText>
            <label for="float-input">User-Name</label>
          </span></td>
          </tr>

          <tr>
              <td><h3>Password : </h3></td>
              <td>
              <span class="ui-float-label">
                 <input id="float-input" formControlName="ReenterUserid" type="text" size="30" pInputText>
                <label for="float-input">Password</label>
              </span></td>
              <td><button pButton label="Login" >Login</button></td>
              </tr>
              </div>
            </table>

