<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
<div class="body">
     

  <br><br><br><br>
<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <!-- <p-card >  -->
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 3px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-1">
                    First Name *:
                </div>
                <div class="ui-grid-col-3">
                    <input pInputText type="text" formControlName="firstname" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Firstname is required" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-1">
                    Last Name *:
                </div>
                <div class="ui-grid-col-3">
                    <input pInputText type="text" formControlName="lastname" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Lastname is required" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-1">
                  Gender *:
              </div>
              <div class="ui-grid-col-3">
                  <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
              </div>
              <div class="ui-grid-col-4">
                  <p-message severity="error" text="Gender is required" *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
              </div>
          </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-1">
                  User Name *:
              </div>
              <div class="ui-grid-col-3">
                  <input pInputText type="text" formControlName="username" placeholder="Required"/>
              </div>
              <div class="ui-grid-col-4">
                  <p-message severity="error" text="Username is required" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message>
              </div>
          </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-1">
                    Password *:
                </div>
                <div class="ui-grid-col-3">
                    <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
                </div>
                <div class="ui-grid-col-4">
                <p-message severity="error" [text]="userform.controls['password'].errors['required'] ? 'Password is required' : userform.controls['password'].errors['minlength'] ? 'Must be longer than 6 characters' : ''"
                        *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-1">
                    Problem:
                </div>
                <div class="ui-grid-col-3">
                    <textarea pInputTextarea type="text" formControlName="problem"></textarea>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-1">
                  City *:
              </div>
              <div class="ui-grid-col-3">
                  <input pInputText type="text" formControlName="city" placeholder="Required"/>
              </div>
              <div class="ui-grid-col-4">
                  <p-message severity="error" text="city is required" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message>
              </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-1">
                Contact Number *:
            </div>
            <div class="ui-grid-col-3">
                <input pInputText type="text" formControlName="contactnumber" placeholder="Required"/>
            </div>
            <div class="ui-grid-col-4">
                <p-message severity="error" text="contact number is required" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message>
            </div>
        </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-1"></div>
                <div class="ui-grid-col-3">
                    <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                Form Submitted
                <br>
                {{diagnostic}}
            </div>
            <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>
        </div>
    <!-- </p-card> -->
</form>

</div>

